[Unit]
Description=Start Market Data Collector at 09:10 (Mon-Fri)

[Timer]
OnCalendar=Mon..Fri 09:10:00
Persistent=true

[Install]
WantedBy=timers.target